@using StudyTestDemo.Model
@using StudyTestDemo.ViewModels
@model dynamic

@{
    ViewBag.Title =Model.PageTitle;
    //定义了_ViewStart,这里就不需要定义布局页面
    Layout = "_Layout";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table>
        <thead>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>邮箱</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (Student student in Model.Students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.ClassName</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@section MyScript
{
    <script src="~/js/MyJavaScript.js"></script>
}
